<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <header>
        <img src="./img/logo.png" alt="">
      </header>
    </nav>
  </body>
</html>
