<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title> <%= title %> </title>
  </head>
  <body>
    <nav>

        <header id="headerMain">
          <img src="./img/logo.png" width="60px;" alt="">
        </header>
        <ul id="sidemenu">
          <li onclick="javascript:acyncMovePage('/main');">M</li>
          <li>P</li>
          <li>H</li>
          <li>A</li>
        </ul>
        <div class="sns-icon">
          <img src="./img/icons/facebook.png" alt="" width="20px">
          <img src="./img/icons/intagram.png" alt="" width="20px">
        </div>
    </nav>
    <section id="main">
      Content Change
    </section>
  </body>

  <script type="text/javascript" src="./js/setting.js"></script>
</html>
